<div class="about-section">
  <div class="row">
    <div class="profile align-items-center mb-4 col-md-6 col-12">
      <img
        alt="profile"
        src="assets/imgs/profile.jpeg"
        class="justify-content-end img-fluid rounded-circle"
      />
      <div class="col m-2 mt-3 align-items-center">
        <p>Valencia, Spain</p>
      </div>
    </div>
    <div class="col-md-7 col-12">
      <h1>About me</h1>
      <div>
        I am Software Engineer graduated from the Polytechnic University of
        Valencia with a Master's Degree in Software Engineering, Formal Methods
        and Information Systems.
        <br />
        <br />
        <li>
          📱 Passionate about mobile development. Currently, working as Android
          Developer (Kotlin - MVVM).
        </li>
        <li>
          💻 Skilled in Full Stack development, with remarkable experience in
          FrontEnd development but also working with BackEnd technologies in
          personal projects.
        </li>
        <li>💡 Always learning</li>
      </div>
    </div>
  </div>
</div>
