@import '../../../styles/styles.scss';

header {
  min-height: 820px;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
  .site-heading {
    padding: 160px 0;
    color: $skyblue;
  }
  .site-heading {
    text-align: center;
    h1 {
      font-size: 40px;
      font-weight: 500;
      color: $skyblue;
      line-height: 1;
      text-shadow: rgba(0, 0, 0, 1) 0px 2px 5px;
      letter-spacing: 4px;
    }
    .subHeading {
        font-size: 40px;
        font-weight: 500;
        line-height: 1;
        display: block;
        text-shadow: rgba(0, 0, 0, 1) 0px 2px 5px;
        padding: 120px 0;
    }
  }
}
