@import '../../../styles/styles.scss';

header {
  background: no-repeat center center;
  background-color: $gray-600;
  background-attachment: scroll;
  position: relative;
  height: 850px;
  @include background-cover;

  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: $gray-900;
    opacity: 0.2;
  }
  .site-heading {
    padding: 150px 0;
    color: $skyblue;
  }
  .site-heading {
    text-align: center;
    h1 {
      font-size: 40px;
      font-weight: 500;
      color: $skyblue;
      line-height: 1;
      text-shadow: rgba(0, 0, 0, 1) 0px 2px 5px;
      letter-spacing: 7px;
    }
    .subHeading {
        font-size: 40px;
        font-weight: 500;
        line-height: 1;
        display: block;
        text-shadow: rgba(0, 0, 0, 1) 0px 2px 5px;
        padding: 120px 0;
    }
  }
}
