<div class="main-container">
  <app-navbar (menuSelected)="scroll($event)"></app-navbar>

  <app-header></app-header>

  <section class="about-container" #about>
    <app-about></app-about>
  </section>

  <section #experience class="experience-container">
    <app-experience></app-experience>
  </section>

  <section #skills class="skills-container">
    <app-skills></app-skills>
  </section>

  <section #projects class="projects-container">
    <div class="projects-section">
      <h1>Projects</h1>
    </div>
  </section>

  <app-footer></app-footer>
</div>
