.main-container {
  .about-container {
    height: 850px;
  }

  .experience-container {
    height: 500px;
    background-color: yellow;
  }

  .skills-container {
    height: 500px;
    background-color: green;
  }

  .projects-container {
    height: 500px;
    background-color: aqua;
  }
}