<div class="main-container">
  <app-navbar></app-navbar>

  <div class="content">
    <section class="welcome-container">
      <div class="welcome-section">
        <h1>Welcome</h1>
      </div>
    </section>

    <section class="about-container">
      <div class="about-section">
        <h1>About</h1>
      </div>
    </section>

    <section class="experience-container">
      <div class="experience-section">
        <h1>Experience</h1>
      </div>
    </section>

    <section class="skills-container">
      <div class="skills-section">
        <h1>Skills</h1>
      </div>
    </section>

    <section class="projects-container">
      <div class="projects-section">
        <h1>Projects</h1>
      </div>
    </section>
  </div>

  <app-footer></app-footer>
</div>
