@import '../../../styles/styles.scss';

.main-container {
  .about-container {
    height: 850px;
  }

  .experience-container {
    height: 850px;
    background-color: $gray-200;
  }

  .skills-container {
    height: 850px;
  }

  .projects-container {
    height: 850px;
    color: white;
    background-color: #353535;
  }
}