@import '../../../styles/styles.scss';

.main-container {
  .about-container {
    align-content: center;
    min-height: 850px;
  }

  .skills-container {
    background-color: $gray-1000;
  }

  .projects-container {
    background-color: $gray-400;
  }
}