<nav class="navbar navbar-expand-lg navbar-light fixed-top">
  <div class="container">
    <a class="navbar-brand" routerLink="/">Alejandro Marco</a
    ><button
      class="navbar-toggler navbar-toggler-right"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
      aria-controls="navbarResponsive"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <fa-icon class="ml-1" [icon]="['fas', 'bars']"></fa-icon>
    </button>
    <div class="collapse navbar-collapse" [ngbCollapse]="isMenuCollapsed">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item pointer">
          <a id="about" (click)="handleClick($event)">About</a>
        </li>
        <li class="nav-item pointer">
          <a id="experience" (click)="handleClick($event)">Experience</a>
        </li>
        <li class="nav-item pointer">
          <a id="skills" (click)="handleClick($event)">Skills</a>
        </li>
        <li class="nav-item pointer">
          <a id="projects" (click)="handleClick($event)">Projects</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
