<div class="navbar">
  <div class="container clearfix">
    <div class="logo">
      <!-- TODO: make own logo
      <div class="navbar-logo">
        <img src="../../../assets/imgs/logo.svg" alt="logo" />
      </div> -->
    </div>

    <div class="mobile-menu">
      <span></span>
      <span></span>
      <span></span>
    </div>

    <nav class="main-navigation clearfix">
      <a #about>About</a>
      <a #experience>Experience</a>
      <a #skills>Skills</a>
      <a #projects>Projects</a>
    </nav>
  </div>
</div>
