<div class="main-container">
  <div class="welcome-container">
    <app-header></app-header>

    <div class="activities">
      <h1>Frontend Developer</h1>
      <h1>Android Developer</h1>
    </div>
  </div>

  <!-- TODO: move to individual components-->
  <section style="background-color: lightgrey;">
    <h2>About me</h2>
  </section>

  <section style="background-color: lightblue;">
    <h2>Skills</h2>
  </section>

  <section style="background-color: lightblue;">
    <h2>Projects</h2>
  </section>

  <section style="background-color: lightblue;">
    <h2>Contact</h2>
  </section>

  <app-footer></app-footer>
</div>
