@import '../../../styles/styles.scss';

.wrapper {
    img {
        width: auto;
        height: 825px;

        @media only screen and (min-width: 992px) {
            width: 100%;
        }
    }
}

.thumbnail-wrapper {
    img {
        display: block;
        width: auto;
        height: 300px;
        max-width: 80%;
        margin-left: auto;
        margin-right: auto;
    }
}