@import '../../../styles/styles.scss';

:host {
    height: 100%;
    width: 100%;
}

.img-wrapper {
    img {
        width: auto;
        height: 825px;

        @media only screen and (min-width: 992px) {
            width: 100%;
        }
    }
}