@import '../../../styles/styles.scss';

.skills-section {
    padding: 100px;
    color: $white;

    .title {
        font-size: 4em;
        font-weight: 500;
        font-family: sans-serif;
        letter-spacing: 1.5px;
        line-height: 1.5em;
    }
}