<div class="experience-section parallax">
  <div class="experience-container">
    <h1 class="title">Experience</h1>
    <div class="content">
      <h2>Mercadona IT</h2>
      <span
        >Android Developer
        <span class="date"> ( Aug. 2021 - until now ) </span>
      </span>
      <h3>
        Development and maintenance of native Android applications:
        <ul>
          <li>Written in Kotlin using MVVM architecture.</li>
          <li>
            Using Retrofit, Room and dependency injection with Dagger2 / HILT.
          </li>
          <li>Using libraries such as Glide and Exoplayer, among others.</li>
          <li>
            In addition to the use of SDKs for label creation and printing.
          </li>
          <li>Unit testing with Mockito y JUnit.</li>
          <li>Following an Agile methodology (SCRUM / Kanban).</li>
        </ul>
      </h3>

      <span
        >Web Developer
        <span class="date"> ( Nov. 2020 - Aug. 2021 ) </span>
      </span>
      <h3>
        Development and maintenance of a hybrid Mobile & Web application:
        <ul>
          <li>Implemented with Angular 10 and Ionic 5.</li>
          <li>Unit testing with Karma / Jasmine.</li>
          <li>Following an Agile methodology (SCRUM / Kanban).</li>
        </ul>
      </h3>

      <h2>
        Polytechnic University of Valencia, UPV
        <span class="date"> ( Mar. 2020 - Aug. 2020 ) </span>
      </h2>
      <h3>
        Collaborative researcher in the ProS group (Software Production Methods)
        for the Information Systems and Computing Department (DSIC), in a
        project in the field of Health. FullStack development of a web
        application with Angular, NodeJS, Express, Sequelize and MySQL for the
        management and analysis of treatments for patients with macular
        diseases.
        <ul>
          <li>
            Tool validation with three hospitals of the Conselleria de Sanitat.
          </li>
          <li>Deployment on the UPV server.</li>
          <li>Software registration on the UPV's EXPLORA I+D platform.</li>
          <li>Development of End of Master's degree project.</li>
        </ul>
      </h3>

      <h2>
        Minsait, an Indra company
        <span class="date"> ( Jan. 2019 - May. 2019 ) </span>
      </h2>
      <h3>
        Internship. Data migration of a web application in collaboration with
        Junta de Andalucía (Justice).
        <ul>
          <li>Development of data migration processes with Oracle PL-SQL.</li>
          <li>Development of validation processes for the migrated data.</li>
          <li>Migration execution following defined strategies.</li>
          <li>Code documentation.</li>
        </ul>
      </h3>
    </div>
    <h1 class="title">Studies</h1>
    <div class="content">
      <h2>Polytechnic University of Valencia, UPV</h2>
      <h3>
        Master's Degree in Software Engineering, Formal Methods and Information
        Systems
        <span class="date"> ( 2019 - 2020 ) </span>
      </h3>
      <h3>
        Degree in Computer Engineering
        <span class="date"> ( 2015 - 2019 ) </span>
      </h3>
      <h2>Miguel Ballesteros Viana Secondary School</h2>
      <h3>
        Scientific-Technological Bachillerato
        <span class="date"> ( 2013 - 2015 ) </span>
      </h3>
    </div>
  </div>
</div>
