.focus {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  min-width: 300px;
}

.focus:hover {
  transform: scale(1.05);
  box-shadow: 0 18px 26px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.card-body {
  margin: 10px;
}

.card-title {
  font-size: 2em;
  font-weight: 700;
}

.image-style {
  width: 3em;
}

.font-details {
  font-size: 3em;
  font-weight: 500;
  color: #231d5af8;
}

.font-details-b {
  font-size: 3em;
  font-weight: 500;
}
.bg__blue {
  background-color: #00ced1;
}

.white__title {
  color: white;
}

.cards__container {
  flex-wrap: wrap;
  margin: 5px;
}

img {
  width: 50px;
  height: 50px;
}
